*/*
*
* =====================
* ABOUT
* =====================
*
*/
.about-section .skill-item {
  margin-bottom: 20px;
}

.about-section .progress-title {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.about-section .progress {
  height: 30px;
  border-radius: 0;
}

.about-section .progress .progress-bar {
  background: #2b90d9;
}

.about-section .progress .progress-bar-skill1 {
  background: #81bde9;
}

.about-section .progress .progress-bar-skill2 {
  background: #6cb2e5;
}

.about-section .progress .progress-bar-skill3 {
  background: #56a7e1;
}

.about-section .progress .progress-bar-skill4 {
  background: #419bdd;
}
